html {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 10px;
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }

.clock {
    z-index: 1;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
}

.latlong {
    font-family: 'Orbitron', sans-serif;
    color: black;
}

#map {
    height: 100%;
    width: 100%; 
    position:absolute; 
    top: 0; 
    left: 0; 
    z-index: 0;
}

